@import url('https://fonts.googleapis.com/css?family=Montserrat:600');
/*
 * GitPitch Slideshow Custom CSS Styling
 *
 * For details, visit Wiki:
 * https://github.com/gitpitch/gitpitch/wiki/Slideshow-Custom-CSS
 */

body {
  background: #222;  
}

.slide-menu-button {
  display: none;
}

.reveal .slides > section {
  /*font-family: "Proxima Nova", Helvetica, Arial, sans-serif !important;*/
  font-size: 0.85em;
}

.reveal .slides > section ul {
  min-width: 80%;
  list-style-type: square;
}

.reveal section img {
  border: 0;
  box-shadow: none;
  background: none;
  width: 300px;
  height: auto;
}

.reveal section .right {
  font-size: 0.7em;
}

.reveal section .right table {
  font-size: 0.8em;
  margin-bottom: 15px;
}

.reveal section .right pre {
  text-align: center;
  margin: 0 0 10px;
}

.reveal section .right span {
  font-size: 0.85em;
  font-weight: 600;
}

/*********************************************
 * HEADERS
 *********************************************/
 .reveal h1,
 .reveal h2,
 .reveal h3,
 .reveal h4,
 .reveal h5,
 .reveal h6 {
   margin: 0 0 20px 0;
   /*color: #eee8d5;*/
   font-family: 'Montserrat', Helvetica, sans-serif !important;
   font-weight: 600;
   line-height: 1.3;
   letter-spacing: normal;
   text-transform: none;
   text-shadow: none;
   word-wrap: break-word; }
 
 .reveal h1 {
   font-size: 3.77em; }
 
 .reveal h2 {
   font-size: 2.11em; }
 
 .reveal h3 {
   /*color: #4B9CD3;*/
   color: #47a5e5;
   font-size: 1.55em; }
 
 .reveal h4 {
   font-size: 1em; }
 
 .reveal h1 {
   text-shadow: none; }

html:-webkit-full-screen-ancestor {
  background: #000;
  background-color: #000;
}

html:-moz-full-screen-ancestor {
  background: #000;
  background-color: #000;
}

.reveal pre {
  width: 100%;
  box-shadow : none;
}

.reveal pre code {
  font-size: 0.88em;
  line-height: 1.2;
  max-height: 70vh !important;
  border-radius: 10px;
  background: #111;
  padding: 20px;
}

.reveal .slides section .code-presenting-annotation {
  color: white;
  background: #111;
  padding: 5px 15px;
  border-radius: 10px;
  opacity: 0.75 !important;
  font-size: 50% !important;
}

.reveal p span.slide-title {
  color: white;
  padding: 4px 15px;
  opacity: 0.75 !important;
  border-radius: 15px;
}

.reveal div.left {
    float: left;
    z-index: -10;
    width: 45%;
}

.reveal div.right {
    float: right;
    z-index: -10;
    width: 55%;
}

.reveal a.pro-link {
    font-size: 0.5em;
}

.hljs {
  background : none;
}

#gp-logo img {
  max-height: 2em;
  max-width: none;
}

.gp-tip { font-size : 1.5em; }

.gp-contact { font-size : 1.4em; }

.gp-download { margin-left: 10px; }

